# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
ENV/
VENV/
*.egg-info/
dist/
build/
*.egg

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# SQLite database
*.sqlite3

# Node.js
node_modules/

# Environment variables
.env
.env.*

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Migrations
migrations/
*/migrations/

# Others
*.swp
*.swo